:root{
    --primary-color: #021529;
    --text-color: #bbbbbb;
    --white-color: #ededed;
    --color: #17A2B8;
}

/* *{
    margin:0;
    
}
*/



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


body{
    background-color: var(--primary-color);
    letter-spacing: 1px;
    color: var(--text-color);
}

h1, h2, h3, h4, h5, h6{
    color: var(--white-color);
}

nav {
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    z-index: 3;
    display: flex;
    margin-top: 15px;
    justify-content: center;
    align-items: center;
    user-select: none;
}
.nav-links, .nav-links-filled {
    display: flex;
    align-items: center;
    border-radius: 30px;
    border: 1px solid transparent;
    transition: all .2s ease;
    position: relative;
}
.nav-links-filled {
    background: rgba(114, 114, 114, .2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid #404040b5;
    box-shadow: 0 2px 10px #0000001a;
}
.nav-links-item {
    cursor: pointer;
    transition: all .2s ease;
    font-size: 13px;
    z-index: 2;
    padding: 15px 5px;
    margin: 0 5px;
    font-weight: 300;
}
.nav-links-item.active, .nav-links-item.active:hover {
    color: #fff;
    transition: all .2s ease;
}
.nav-slider {
    position: absolute;
    left: 5px;
    width: 50px;
    height: 30px;
    border-radius: 30px;
    background: rgba(79, 79, 79, .25);
    transition: transform .3s cubic-bezier(.34,1.56,.64,1);
}

















.about-container {
    gap: 10px;
    display: flex;
    flex-direction: column;
}
.about-title{
    font-size: 18px;
    font-weight: 400;
}
.about-description {
    font-size: 14px;
    line-height: 1.6;
}





































































.prenom_nom{
    font-size:80px;
    font-weight: 1200;
    margin-top: 10px;
}

.description_texte{
    margin-top: 10px;
    color: #ffffff82;
    font-size: 18px;
}

.etudes_texte{
    margin-top: 20px;
    font-size: 20px;
}

.icones{
    display: flex;
    align-items: center;
}

.icones svg{
    margin: 15px;
}

.icones svg:hover{
    transform: scale(1.5);
    transition: 0.5s;
}


.container_texte_pp{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.photo_de_profil{
    margin-top: 75px;
}




























  .terminal-loader {
    border: 0.1em solid #333;
    background-color: #1a1a1a;
    color: #0f0;
    font-family: "Courier New", Courier, monospace;
    font-size: 1em;
    padding: 1.5em 1em;
    width: 35em;
    margin: 100px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
  }
  
  .terminal-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 1.5em;
    background-color: #333;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 0 0.4em;
    box-sizing: border-box;
  }
  
  .terminal-controls {
    float: left;
  }
  
  .control {
    display: inline-block;
    width: 0.6em;
    height: 0.6em;
    margin-left: 0.4em;
    border-radius: 50%;
    background-color: #777;
  }
  
  .control.close {
    background-color: #FF5D50;
  }
  
  .control.minimize {
    background-color: #FFC60C;
  }
  
  .control.maximize {
    background-color: #1BD137;
  }
  
  .terminal-title {
    float: right;
    line-height: 1.5em;
    color: #eee;
  }
  
  .text {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    margin-top: 1.5em;

  }
  
  #show-projects{
    padding: 25px;
    font-size: 1em;
    border-radius: 10px;
    background-color: #505d66;
    border: 1px solid var(--white-color);
  }

  #show-projects:hover{
    cursor: pointer;
  }


    .hide{
        transition: 5s;
        opacity: 0;
    }













/* TEST PROJETS AOS */
#gitTree {
    position: relative;
    width: 100%;
    max-width: 1750px;
    padding: 20px;
  }
  
  .center-line {
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    width: 2px;
    background-color: #000;
    transform: translateX(-50%);
  }
  
  .project {
    position: relative;
    width: 500px;
    height: 300px; 
    padding: 20px;
    box-sizing: border-box;
    opacity: 0;
    -webkit-transition: opacity 2s ease-in;
    -moz-transition: opacity 2s ease-in;
    -o-transition: opacity 2s ease-in;
    -ms-transition: opacity 2s ease-in;
    transition: opacity 2s ease-in;
  }
    .project.load{
        opacity: 0.70;
    }



  .left {
    float: left;
    text-align: right;
    clear: both;
  }
  
  .right {
    float: right;
    text-align: left;
    clear: both;
  }
  
  .project-content {
    background: #f5f5f5;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    height: 100%; /* Hauteur fixe pour aligner avec la taille du projet */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Alignement vertical des éléments */
  }
  
  .image-container {    
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end; /* Aligner le bouton en bas de l'image */
  }
  

  .project p {
    margin-top: 10px;
    font-weight: bold;
    font-size: 1.2em;
  }
  
  #gitTree:after {
    content: "";
    display: table;
    clear: both;
  }
  
.project-content p{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}
  
.project-content p svg{
    margin-left: 25px;
}



@keyframes drawLine {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

.project-content {
    animation: drawLine 5s ease forwards;
    width: 0;
    white-space: nowrap;
    overflow: hidden;
}





















































/* Projets */

.partie_projets{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.titre_partie{
    color:var(--white-color);
    text-align: center;
    font-size: 50px;
    margin-top: 20vh;
}


.slider-container {
    display: flex;
    align-items: center;
    margin-top: 25px;
}

.nom_projets{
    color: var(--white-color);
    text-align: center;
}

.project {
    transition: transform 0.3s;
    cursor: pointer;
}

.project img {
    width: 500px;
    object-fit: cover;
    object-position: center;
    border-radius: 15px;
}


.center {
    z-index: 2;
}


.project.left, .project.right {
    transform: scale(1);
    opacity: 0.70;
}


.circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 5px;
    background-color: #232323; /* Couleur des cercles inactifs */
    display: inline-block;
}



.skills {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
}

.skill {
    display: flex;
    align-items: center;    
    justify-content: space-between;
    color: white;
    margin-bottom: 10px;
    width: 100%;
}

span {
    margin-right: 10px;
    flex-grow: 1;
    text-align: left; 
}

#firstSection, #secondSection{
    background-color: #505d66;
    width: 300px;
    padding: 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
    margin-top: 100px;
}

.titre_competences{
    text-align: center;
    color: white;
    width: 100%;
    margin-bottom: 20px;
}


.vertical_line{
    height:400px;
    width: 15px;
    background-color: #916CDF;
    border-radius: 10px;
    margin-top: 75px;
}


@media (min-width: 768px) {
    
    header{
        font-size: 1.5em;
    }

    .code{
        font-size: 2em;
    }

    .project img {
        width: 350px;
    }
    
}


@media (max-width: 767px) {

    header{
        display: none;
    }

    .photo_de_profil img{
        width: 275px;
    }

    .container_texte_pp{
        flex-direction: column-reverse;
    }


    .texte{
        margin-top: 25px;
        margin-left: 13px;
    }
    
    
    .first_titre{
        font-size:15px;
    }
    
    .prenom_nom{
        font-size:45px;
        margin-top: 10px;
    }
    
    .description_texte{
        margin-top: 10px;
        font-size: 13px;
    }
    
    .etudes_texte{
        margin-top: 20px;
        font-size: 13px;
    }
    
    .icones svg{
        margin: 10px;
        width: 65%;
    }

    .cv {
        margin-top: 10px;
        padding: 2px;
        padding-right: 35px;
        padding-left: 10px;
        font-size: 15px;
    }    
    
    .fleche_cv {
        display: inline-block;
        transform: scaleX(4);
        margin-left: 35px;
    }

    .slider-container {
        margin-top: 15px;
        flex-direction: column;
    }


    .project img {
        width: 275px;
    }

    .titre_partie{
        font-size: 35px;
        margin-top: 20vh;
    }


    .skills {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
    }


    #firstSection, #secondSection{
        background-color: #916CDF;
        width: 250px;
        padding: 15px;
        border-radius: 15px;
        display: flex;
        flex-direction: column; 
        align-items: flex-start;
        margin-top: 50px;
    }

    .titre_competences{
        font-size: 25px;
    }

}