:root{
    --primary-color: #021529;
    --text-color: #bbbbbb;
    --white-color: #ededed;
    --color: #17A2B8;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


body{
    background-color: var(--primary-color);
    letter-spacing: 1px;
    color: var(--text-color);
}

body svg {
    color: var(--text-color);
}

h1, h2, h3, h4, h5, h6{
    color: var(--white-color);
}

body{
    background-image: url(./img/gradient.png);
    background-repeat: no-repeat;
    background-size: cover;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
    display: flex;
    margin-top: 18px;
    justify-content: center;
    align-items: center;
    user-select: none;
    padding: 10px;
}
.nav-links, .nav-links-filled {
    display: flex;
    align-items: center;
    border-radius: 30px;
    border: 1px solid transparent;
    transition: all .2s ease;
    position: relative;
}
.nav-links-filled {
    background: rgba(114, 114, 114, .2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid #404040b5;
    box-shadow: 0 2px 10px #0000001a;
}
.nav-links-item {
    cursor: pointer;
    transition: all .2s ease;
    font-size: 15px;
    z-index: 2;
    padding: 15px 5px;
    margin: 0 10px;
    font-weight: 300;
}
.nav-links-item {
    transition: background-color 0.3s ease, border-radius 0.3s ease;

  }
  
  .nav-links-item.active {
    background-color: #ffffff2e;
    border-radius: 10px;
  }
.nav-slider {
    position: absolute;
    left: 5px;
    width: 50px;
    height: 30px;
    border-radius: 30px;
    background: rgba(79, 79, 79, .25);
    transition: transform .3s cubic-bezier(.34,1.56,.64,1);
}

.info-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 250px;
}
.info-wrapper-title {
    font-weight: 400;
    font-size: 65px;
    margin-bottom: 20px;
}
.info-wrapper-description {
    max-width: 775px;
    line-height: 1.8;
    font-size: 20px;
}

.front{
    color: var(--color);
}
.bugs{
    text-decoration: line-through;
    color: red;
    font-style: italic;
}
.main {
    margin: 100px auto 0;
    max-width: 1225px;
    padding: 25px;
}
.about-container {
    gap: 10px;
    display: flex;
    flex-direction: column;
    margin-top: 150px;
}
.about-description {
    font-size: 14px;
    line-height: 1.6;
    text-align: justify;
}
.skills-container {
    gap: 15px;
    display: flex;
    margin-top: 100px;
    flex-direction: column;
}
.skills-wrapper {
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
    font-size: 12px;
}
.skills-wrapper span {
    padding: 5px;
    border-radius: 2px;
    border: 1px solid #333333;
    background-color: #021529;
    box-shadow: 0 2px 3px #0000003d;
}

.about-title, .about-experience-heading, .skills-heading {
    font-size: 18px;
    font-weight: 400;
}
.about-experience-container {
    gap: 20px;
    display: flex;
    flex-direction: column;
    margin-top: 150px;
}

.about-experience-item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
}

.about-experience-date {
    font-size: 14px;
    line-height: 1.5;
    width: 200px;
}
.about-experience-title {
    font-size: 14px;
    margin-bottom: 10px;
    font-weight: 400;
}
.about-experience-description {
    font-size: 14px;
    line-height: 1.6;
    max-width: 1100px;
}
.about-experience-technologies {
    gap: 7px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 15px;
}
.about-experience-technology {
    font-size: 12px;
    color: var(--color);
    border: 1px solid var(--color);
    padding: 3px 6px;
    border-radius: 2px;
    background-color: #40cf8f0f;
}

.projects-container {
    gap: 20px;
    display: flex;
    margin-top: 150px;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
}
.projects-heading {
    font-size: 20px;
    font-weight: 400;
}
.projects-wrapper {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-left: 20px;
}
.projects-card-description, .projects-card-link{
    display: none;
}
.project-details {
    width: 30%;
    position: fixed;
    right: 50px;
    top: 0;
    background-color: var(--primary-color);
    border-radius: 10px;
    border: 2px solid var(--color); 
    padding: 20px;
    box-shadow: -5px 0 5px -5px #333;
    z-index: 1000 !important;
}
.project-details img{
    width: 100%;
    border-radius: 10px;
}

.project-details h3{
    font-size: 35px;
    text-align: center;
}

.project-details .tech{
    font-size: 15px;
    text-align: center;
    font-style: italic;
}

.project-details .description{
    font-size: 18px;
    margin-top: 30px;
    text-align: left;
}

.project-details .link{
    font-style: italic;
    font-size: 15px;
    text-align: center;
    color: var(--white-color);
    display: grid;
    align-items: center;
}


.projects-card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
    align-items: center;
    border-radius: 5px;
    border: 1px solid #2d2d2d;
    transition: border-color 0.5s ease;
    height: 200px;
    font-size: 14px;
    background-color: #021529;
    box-shadow: 0 2px 3px #0000003d;
    flex: 0 0 auto;
}

.projects-card:hover {
    cursor: pointer;
}

.projects-card.hovered {
    animation: border-animation 0.5s forwards;
    border-color: var(--color);
    transition: 0.5s;
}

.projects-card-gradient {
    top: 0;
    left: 0;
    width: 150px;
    height: 200px;
    position: absolute;
    background: radial-gradient(100% 100% at 0% 0%, hsla(0, 81%, 48%, 0.03), transparent);
    transition: all .1s ease-in;
}
.projects-card-links {
    gap: 30px;
    display: flex;
    align-self: flex-end;
}
.projects-card-name {
    font-weight: 400;
    margin-top: -100px;
    text-transform: uppercase;
    font-size: 14px;
}
.projects-card-languages {
    display: flex;
    align-self: center;
    gap: 15px;
}
a {
    color: inherit;
    text-decoration: none;
}

.studies-container {
    gap: 20px;
    display: flex;
    margin-top: 100px;
    flex-direction: column;
}
.studies-headline {
    font-size: 18px;
    font-weight: 400;
}
.studies-cards-container {
    gap: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.studies-card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #2d2d2d;
    transition: border .2s ease;
    position: relative;
    background-color: var(--primary-color);
    box-shadow: 0 2px 3px #0000003d;
}
.studies-card-gardient {
    top: 0;
    left: 0;
    width: 20px;
    height: 150px;
    position: absolute;
}
.studies-card-title {
    font-weight: 400;
    line-height: 1.5;
}
.studies-card-title, .studies-card-subtitle, .studies-card-wrapper-minutes, .studies-card-wrapper span {
    font-size: 14px;
}
.studies-card-wrapper {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}
.studies-card-subtitle {
    line-height: 1.5;
    max-width: 400px;
    margin-left: -3px;
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.studies-card.hovered {
    animation: border-animation 0.5s forwards;
    border-color: var(--color);
    transition: 0.5s;
}


.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 30px 0;
    border-top: 1px solid #2d2d2d;
    margin-top: 150px;
}

.footer span {
    font-size: 14px;
}

.footer-social {
    display: flex;
    gap: 20px;
    font-size: 18px;
}

.footer-social * {
    transition: all .1s ease;
}


.chat {
    right: 0;
    z-index: 1000 !important;
    right: 50px;
    bottom: 50px;
    position: fixed;
    border-radius: 0;
    background: rgba(79, 79, 79, .2);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    box-shadow: 0 2px 10px #00000065;
}

.chat-bar {
    display: flex;
    flex-direction: column;
    border-radius: 10px 10px 0 0;
    padding: 15px;
    color: var(--white-color);
    font-size: 14px;
    border: 1px solid #434343;
}

.chat-bar span:first-child {
    font-weight: 500;
    line-height: 2;
}

.chat-bar button {
    position: absolute;
    top: 18px;
    border: none;
    padding: 8px;
    display: flex;
    border-radius: 8px;
    right: 15px;
    color: var(--white-color);
    transition: all .2s ease;
    background-color: transparent;
    cursor: pointer;
}

.chat-container {
    height: 600px;
    padding: 10px;
    overflow-y: auto;
    border-radius: 0 0 10px 10px;
    border: 1px solid #434343;
    border-top: none;
    width: 450px;
}

.chat-container-message {
    display: flex;
    align-items: start;
    flex-direction: column;
}
.message {
    font-weight: 500;
    letter-spacing: normal;
    line-height: 1.5;
    font-size: 15px;
    padding: 12px 14px;
    margin-bottom: 10px;
}
.bot {
    color: var(--primary-color);
    background-color: var(--white-color);
    border-radius: 10px;
}
.chat-container-buttons {
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    text-align: left;
}

.chat-container-buttons button {
    text-align: left;
    letter-spacing: .5px;
    line-height: 1.5;
    padding: 15px;
    font-size: 15px;
    background-color: transparent;
    border-radius: 30px;
    color: var(--color);
    border: 1px solid var(--color);
    cursor: pointer;
}

.chat-answer{
    margin-top: 25px;
    font-weight: 500;
    letter-spacing: normal;
    line-height: 1.5;
    font-size: 18px;
    padding: 12px 14px;
    margin-bottom: 10px;
}


.chat-answer{
    margin-top: 25px;
    font-weight: 500;
    letter-spacing: normal;
    line-height: 1.5;
    font-size: 18px;
    padding: 12px 14px;
    margin-bottom: 10px;
}

.chat-input {
    display: flex;
    align-items: start;
    flex-direction: row;
}

.message {
    font-weight: 500;
    letter-spacing: normal;
    line-height: 1.5;
    font-size: 15px;
    padding: 12px 14px;
    margin-bottom: 10px;
}

#userInput{
    font-weight: 500;
    letter-spacing: normal;
    line-height: 1.5;
    font-size: 15px;
    padding: 13px;
    margin-bottom: 10px;
    width: 275px;
    border-radius: 5px;
    border: 2px solid var(--color);
    background-color: var(--primary-color);
    color: var(--white-color);
}

#inputButton {
    text-align: left;
    letter-spacing: .5px;
    line-height: 1.5;
    padding: 15px;
    font-size: 15px;
    background-color: transparent;
    border-radius: 20px;
    color: var(--white-color);
    border: 1px solid var(--color);
    cursor: pointer;
    margin-left: 15px;
}

.chat-input p{
    text-align: center;
    margin-left: 25px;
    margin-top: 15px;
}

#chatbox {
    position: fixed; 
    bottom: 100px;     
    right: 100px;   
    padding:20px; 
    background-color: var(--color);
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    z-index: 1000;    
}
.fade-out {
    animation: fadeOut 1s forwards;
  }
  
  .fade-in {
    animation: fadeIn 1s forwards;
    opacity: 0;
  }
  
  @keyframes fadeOut {
    to {
      opacity: 0;
      visibility: hidden;
    }
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      visibility: visible;
    }
    to {
      opacity: 1;
      visibility: visible;
    }
  }

#troll {    
display: none;
align-items: center;
justify-content: center;
flex-direction: column;
}

#troll img{
    width: 50%;
}


#troll h2{
    color: var(--color);
}

#troll h3{
    margin-top: 150px;
    color: var(--white-color);
}

#troll span{
    font-style: italic;
}